{% extends 'vehicles/base.html' %}

{%block title %}Vehicle Details{% endblock %}<body>

{% block content %}
        <h1 class="mt-4">Vehicle Details - {{ vehicle.license_plate.upper }}</h1>
        <table class="table table-striped display">
                <tr>
                        <th scope="col">Propietario</th>
                        <th scope="col">Detalle</th>
                </tr>
                <tr>
                        <td scope="col">Nombre:</td>
                        <td scope="col">{{vehicle.owner_name}}</td>
                </tr>
                <tr>
                        <td scope="col">Numero de empleado:</td>
                        <td scope="col">{{vehicle.owner_employee_id}}</td>
                </tr>
                <tr>
                        <td scope="col">Numero de telefono:</td>
                        <td scope="col" >{{vehicle.owner_contact}}</td>
                </tr>
                <tr>
                        <td scope="col">Correo electronico:</td>
                        <td scope="col" >{{vehicle.owner_email}}</td>
                </tr>
        </table>
        
        <a href="{% url 'vehicles:list_vehicles' %}" class="btn btn-secondary mt-3">Back to List</a>


       
{% endblock %}
